.mapContainer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.content{
    
    background-color: rgb(54,54,66);
    border-radius: 5px solid rgb(4, 146, 202);
    
    width: 300px;
    
}
.loc-button{
    
}
.cards {
     
        box-shadow: 0 4px 8px 0 rgba(175, 150, 150, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background-color: black;
        margin-bottom: 5px;
        width: 200px;
 }
.i{
    z-index:1000;
}
.m{
    z-index: -1;
}
.search{
    display: inline-block;
    position: absolute;
    width:400px;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #040011;
    border-radius: 15px;
    opacity: 0.85;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}
