body{
  margin: 0;
}

.centered{
  text-align: center;
  height: 200px;
}

.wrap{
  background-image:url(b.png);
  background-size: cover;
  
  background-repeat: no-repeat;
  background-position: center;
  
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%
  
 
  
}

.segment{
  position: relative;
 
}
.form{
  color: #046b85;
}

.acard{
  
  
  
  height: 500px;
  width:300px ;
  top: 12px;
  position: relative;
  
  margin-top: 80px;
  margin-right: 150px;
  margin-left: 50px;
  

}
.cb{
  padding-bottom: 400px;
  background: #3c1575;
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  }
.wrap-login100 {
  border-radius: 35px;
  width: 350px;
  height: 500px;
  
  overflow: hidden;
  

  
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
 margin-top: 185px; 
 margin-left: 660px;
}
.but {
  margin-top: 100px;
  margin-left: 250px;
}
.f{
  font-style: italic;
  font-size: 25px;
  
}
@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
    margin-top: 50px;
    margin-left:10px;
  }
}
.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: #9152f8;
  background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  background: -o-linear-gradient(bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
  background: linear-gradient(bottom, #7579ff, #b224ef);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 0;
}
