body{
  margin: 0;
}

.centered{
  text-align: center;
  height: 200px;
}

.wrap{
  background-image:url(b.png);
  background-size: cover;
  
  background-repeat: no-repeat;
  background-position: center;
  
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%
  
 
  
}

.segment{
  position: relative;
 
}
.form{
  color: #046b85;
}

.acard{
  
  
  
  height: 500px;
  width:300px ;
  top: 12px;
  position: relative;
  
  margin-top: 80px;
  margin-right: 150px;
  margin-left: 50px;
  

}
.cb{
  padding-bottom: 400px;
  background: #9152f8;
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  }
.wrap-login100 {
  border-radius: 35px;
  width: 350px;
  height: 500px;
  
  overflow: hidden;
  

  
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
 margin-top: 185px; 
 margin-left: 660px;
}
.but {
  margin-top: 100px;
  margin-left: 250px;
}
.f{
  font-style: italic;
  font-size: 25px;
  
}
@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
    margin-top: 15px;
    margin-left:0;
  }
}
