body{
  margin: 0;
}

.centered{
  text-align: center;
  height: 200px;
}

.wrap{
  background-image:url(b.png);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%
  
 
  
}

.segment{
  
  
  height: 400px;
  width: 185px;
  top: 75px;
  position: relative;
  margin-top: 80px;
  margin-right: 150px;
  margin-left: 500px;
  
}
.form{
  color: #046b85;
}

.card{
  
  
  height: 500px;
  width:300px ;
  top: 12px;
  position: relative;
  
  margin-top: 80px;
  margin-right: 150px;
  margin-left: 50px;
  border: 20px solid black;
  box-shadow: inset 0px 0px 0px 10px red;
  box-sizing: border-box;

  
}
.but {
  margin-top: 100px;
  margin-left: 250px;
}
.f{
  font-style: italic;
  font-size: 25px;
  
}
