.content{
    
    background-color: cadetblue;
    border-radius: 5px;
    width: 300px;
    
}
.i{
    z-index:1000;
}
.m{
    z-index: -1;
}
.search{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #040011;
    border-radius: 15px;
    opacity: 0.85;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}