.donar-signup {
    width: 500px;
    margin-top:70px;
    margin-left: 120px ;
}

@media (min-width: 350px) {
    .donar-signup {
    
    margin-top:50px;
    margin-left: 12px ;
    zoom:-1;
     
    }
  }