.donar-signup {
    width: 700px;
    margin-top:70px;
    margin-left: 120px ;
}

@media (max-width: 200px) {
    .donar-signup {
      padding-bottom: 500px;
      margin:0 auto;
      
     
    }
  }