.donar-signup {
    width: 700px;
    margin-top:70px;
    margin-left: 120px ;
}

@media (max-width: 500px) {
    .donar-signup {
      width: 500px;  
      padding-left: 120px;
      margin-left: 0px;
    
     
    }
  }