.Card{
    padding: 16px;
    background-color: black;
    margin-bottom:25px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 20px 25px 0 rgba(139, 5, 5, 0.2); 
    color:white;
}

.username{
    left: 0;
    font-style: italic;

}