.Card{
    padding: 16px;
    background-color: rgba(23, 23, 37, 0.952);
    margin-bottom:25px;
    width: 400px;
    border-radius: 15px;
   
    color:white;
}

.username{
    left: 0;
    font-style: italic;
    border-bottom: 2px solid #bbb ;
}

.tag{
    text-align: center;
    background-color: green;
    width: 45px;
    border-radius: 5px;
}
.header{
    font-size: large;
}