.feed {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.navbar{
    
    background-color: rgb(0, 0, 0);
    height: 150px;
    min-width: 500px;
    margin-bottom: 150px;
    
}
.log{
    text-align: right;
    justify-content: center;
    padding-left: 500px;
}