.feed {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.navbar{
    
    background-color: rgb(0, 0, 0);
    height: 50px;
    min-width: 500px;
    margin-bottom: 150px;
    
}
.button{
    border-radius: 12px;
    border-color: rgb(13, 66, 68);
}
