body{
  margin: 0;
}

.centered{
  text-align: center;
  height: 200px;
}

.wrap{
  background-image:url(b.png);
  background-size: cover;
  
  background-repeat: no-repeat;
  background-position: center;
  
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%
  
 
  
}

.segment{
  position: relative;
 
}
.form{
  color: #046b85;
}

.card{
  
 

  
  height: 500px;
  width:300px ;
  top: 12px;
  position: relative;
  
  margin-top: 80px;
  margin-right: 150px;
  margin-left: 50px;
  
  background: #9152f8;
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  background: -o-linear-gradient(top, #7579ff, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #b224ef);
  background: linear-gradient(top, #7579ff, #b224ef);
}
.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  margin-left: 610px;
  background: #9152f8;
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  background: -o-linear-gradient(top, #7579ff, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #b224ef);
  background: linear-gradient(top, #7579ff, #b224ef);
}
.but {
  margin-top: 100px;
  margin-left: 250px;
}
.f{
  font-style: italic;
  font-size: 25px;
  
}
