body{
  margin: 0;
}

.centered{
  text-align: center;
  height: 200px;
}

.wrap{
  background-image:url(home.png);
  background-size: cover;
  height: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  
}

.segment{
  
  
  height: 500px;
  width: 300px;
  top: 75px;
  position: relative;
  margin: 0 auto;

  
}
.card{
  
  
  height: 300px;
  width: 500px;
  top: 12px;
  position: relative;
  
  margin-top: 80px;
  margin-right: 150px;
  margin-left: 8px;

  
}
.butt{
  width: 75px;
  margin-top: 120px ;
  background-color:rgba(108, 8, 155, 0.774);
  border-radius: 1%;
  
  
}