body{
  margin: 0;
}

.centered{
  text-align: center;
  height: 200px;
}

.wrap{
  background-image:url(home.png);
  background-size: cover;
  height: auto;
  padding-bottom: 400px;
}

.segment{
  
  
  height: 500px;
  width: 300px;
  top: 50px;
  position: relative;
  margin: 0 auto;
  border-radius: "500px";
  
}