.donar-wrap{
   
    background-image:url(red.png);
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
    
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%
    
   
    
  }

.donar-signup {
    width: 500px;
    margin-top:70px;
    margin-left: 500px ;
}

@media (max-width: 500px) {
    .donar-signup {
    width:350px;
    margin-top:50px;
    margin-left: 12px ;
   
     
    }
  }