.donar-signup {
    width: 700px;
    margin-top:70px;
    margin-left: 120px ;
}

@media (min-width: 500px) {
    .donar-signup {
      
      padding-left: 120px;
      margin-top:0px;
    margin-left: 0px ;
    
     
    }
  }