.donar-wrap{
    background: red;
    background: -webkit-linear-gradient(top, #701909, #ccc2d1);
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%
    
   
    
  }

.donar-signup {
    width: 500px;
    margin-top:70px;
    margin-left: 120px ;
}

@media (min-width: 350px) {
    .donar-signup {
    width:350px;
    margin-top:50px;
    margin-left: 12px ;
   
     
    }
  }